<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Stage 1 HW</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="css/style.css">
		<!-- Self defined CSS-->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,600' rel='stylesheet' type='text/css'>
		<!-- Google Fonts-->
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2 class="text-center">Option 1 - Front End</h2>
				<h4 class="text-center">Make your page look great</h4>
				<p class="text-justify">Learn how to use a CSS framework called Bootstrap and more about responsive web design
				</p>
				<ul>
					<li><a href="https://www.udacity.com/course/ud304">Intro to HTML and CSS</a></li>
					<li><a href="https://www.udacity.com/course/ud893">Responsive Web Design</a></li>
					<li><a href="https://www.udacity.com/course/ud882">Responsive Images</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h2 class="text-center">Option 2 - Front End</h2>
				<h4 class="text-center">Add JavaScript interactions</h4>
				<p class="text-justify">Learn how to use JavaScript as well as a popular library called jQuery to add more interesting interactions / animations to your page
				</p>
				<ul>
					<li><a href="https://www.udacity.com/course/ud804">JavaScript Basics</a></li>
					<li><a href="https://www.udacity.com/course/ud245">Intro to jQuery</a></li>
					<li><a href="https://www.udacity.com/course/ud110">Intro to AJAX</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h2 class="text-center">Option 3 - Full Stack</h2>
				<h4 class="text-center">Add Back End Functionality</h4>
				<p class="text-justify">Learn more about AppEngine and build more sophisticated databases to increase the functionality of your server-side code
				</p>
				<ul>
					<li><a href="https://www.udacity.com/course/cs253">Web Development</a></li>
					<li><a href="https://www.udacity.com/course/ud197">Intro to Relational Databases</a></li>
					<li><a href="https://www.udacity.com/course/ud088">Full Stack Foundations</a></li>
					<li><a href="https://www.udacity.com/course/ud595">Linux Command Line Basics</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h2 class="text-center">Option 4 - iOS</h2>
				<h4 class="text-center">Make an iPhone / iPad App</h4>
				<p class="text-justify">Learn a new programming language called Swift and build your first iPhone App
				</p>
				<ul>
					<li><a href="https://www.udacity.com/course/ud585">Intro to iOS App Development with Swift</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h2 class="text-center">Option 5 - Android</h2>
				<h4 class="text-center">Make an Android App</h4>
				<p class="text-justify">Learn the basics of making an Android App
				</p>
				<ul>
					<li><a href="https://www.udacity.com/course/android-development-for-beginners--ud837">Android for Beginners</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h2 class="text-center">Option 6 - Computer Science and Other</h2>
				<h4 class="text-center">Advanced Python / Programming Techniques</h4>
				<p class="text-justify">Solve really hard problems alongside a veteran software engineer / computer scientist
				</p>
				<ul>
					<li><a href="https://www.udacity.com/course/cs212">Design of Computer Programs</a></li>
				</ul>
			</div>
		</div>
	</div>
	</body>
</html>