<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>HTML</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="css/style.css">
		<!-- Self defined CSS-->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,600' rel='stylesheet' type='text/css'>
		<!-- Google Fonts-->
	</head>
	<body>
		<div class="container">
			<div class="row banner">
				<h2>Lesson 1: The Basics of the Web and HTML</h2>
			</div>
			<div class="row">
				<h4>
				The internet is a bunch of computers communicating over HTTP
				</h4>
			</div>
			<div class="row">
				<ol class="lower-roman">
					<li>HTML: Hyper Text Markup Language</li>
					<li>Elements: HTML documents are made up of HTML 'elements'</li>
				</ol>
			</div>
			<div class="row banner">
				<h2>Lesson 2: Creating a Structured Document with HTML</h2>
			</div>
			<div class="row">
				<h4>
				How elements within elements creates a structured 'box-like' model of a web page.
				</h4>
			</div>
			<div class="row">
				<ol class="lower-roman">
					<li>DOM<br>
						<p>
							The Document Object Model (DOM) is a programming API for HTML and XML documents. 
							It defines the logical structure of documents and the way a document is accessed and manipulated.
						</p>
						<img class="img-height-400 center-block" src="images/DOM_figure.png" alt="DOM figure">
					</li>
					<li><span style="color:blue" class="text-bold-700">&lt;div&gt;&lt;/div&gt;</span> and <span style="color:blue" class="text-bold-700">&lt;span&gt;&lt;/span&gt;</span>:<br>
						<p>
							These are the two 'container' elements that can be used to build the structure of a web page.
						</p>
					</li>
					<li>Box Model: Everything on the web is boxes!<br>
						<img class="img-height-400 center-block" src="images/box_model.png" alt="Box model">
					</li>
					<li><span style="color:blue" class="text-bold-700">&lt;br&gt;</span>: The <span style="color:blue" class="text-bold-700">&lt;br&gt;</span> tag inserts a single line break.</li>
					<li><span style="color:blue" class="text-bold-700">&lt;p&gt;&lt;/p&gt;</span>: The <span style="color:blue" class="text-bold-700">&lt;p&gt;&lt;/p&gt;</span> tag defines a paragraph. Browsers automatically add some space (margin) before and after each &lt;p&gt;&lt;/p&gt; element.<br> The margins can be modified with CSS (with the margin properties).</li>
					<li>
						Grid-Based Layout: All web pages are based on grids, whether the designer is conscious of this or not.<br>
						<img class="img-height-400 center-block" src="images/grid_based_layout.png" alt="Grid Based Layout">
					</li>
				</ol>
			</div>
			<div class="row">
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</body>
</html>