<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Stage 1 HW</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="css/style.css">
		<!-- Self defined CSS-->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,600' rel='stylesheet' type='text/css'>
		<!-- Google Fonts-->
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="images/Udacity_Logo.png" alt="Udacity logo" height="100">
				<!-- Alt text allows people to see and understand your website -->
			</div>
			<div class="col-md-6 text-right text-uppercase">
				<h1 class="text-semi-bold-600">Elvis Chen</h1>
				<h4 class="text-muted">IPND Notes</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<img class="img-height-400 center-block" src="images/IPND_Logo.png" alt="Intro to Programming Nanodegree Course">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center subject-border text-bold-700">Intro to Programming Nanodegree</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<a href="/html">
				<img class="img-height-200 center-block" src="images/HTML5_Logo.png" alt="Click on it. This would bring you to HTML5 Notes">
				</a>
				<h2 class="text-center">HTML</h2>
				<p class="text-justify">Hyper Text Markup Language, commonly referred to as HTML,
				 is the standard markup language used to create web pages.
				</p>
			</div>
			<div class="col-md-3">
				<img class="img-height-200 center-block" src="images/CSS3_Logo.png" alt="Click on it. This would bring you to CSS3 Notes">
				<h2 class="text-center">CSS</h2>
				<p class="text-justify">Cascading Style Sheets (CSS) is a style sheet language used for 
					describing the presentation of a document written in a markup language
				</p>
			</div>
			<div class="col-md-3">
				<a href="/python">
					<img class="img-height-200 center-block" src="images/Python_Logo.png" alt="Click on it. This would bring you to Python Notes">
				</a>
				<h2 class="text-center">Python</h2>
				<p class="text-justify">Python is a widely used general-purpose, high-level programming language. 
					Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts 
					in fewer lines of code than would be possible in languages such as C++ or Java. 
					The language provides constructs intended to enable clear programs on both a small and large scale.
				</p>
			</div>
			<div class="col-md-3">
				<a href="/resource">
				<img class="img-height-200 center-block" src="images/Resource.png" alt="Click on it. This would bring you to other useful resources">
				</a>
				<h2 class="text-center">Resources</h2>
				<p class="text-justify">Place where you can find additionl documentaion,
				useful website, code sytle verification, and many more. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<a href="/appeng">
				<img class="img-height-200 center-block" src="images/Google_Cloud.png" alt="Click on it. This would bring you to Google App Engine Notes">
				</a>
				<h2 class="text-center">Google App Engine</h2>
				<p class="text-justify">Google Cloud Platform is a set of modular cloud-based services that allow you to create anything from simple websites to complex applications.
				</p>
			</div>
			<div class="col-md-3">
				<a href="/javascript">
				<img class="img-height-200 center-block" src="images/javascript.png" alt="Click on it. This would bring you to JavaScript Notes">
				</a>
				<h2 class="text-center">JavaScript</h2>
				<p class="text-justify">JavaScript is the programming language of HTML and the Web. Programming makes computers do what you want them to do.
				</p>
			</div>
			<div class="col-md-3">
				<a href="/explore">
				<img class="img-height-200 center-block" src="images/go_explore.jpg" alt="Click on it. This would bring you to Go Explore Notes">
				</a>
				<h2 class="text-center">Go Explore</h2>
				<p class="text-justify">This segments will show you some of your options. Each option will include a list of Udacity courses.
				</p>
			</div>
		</div>
	</div>
	</body>
</html>