<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Insert title here</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="css/style.css">
		<!-- Self defined CSS-->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,600' rel='stylesheet' type='text/css'>
		<!-- Google Fonts-->
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h2>Debugging Strategy Recap</h2>
			</div>
			<div class="row">
				<h4>
					We went over 5 debugging strategies in this lesson.
				</h4>
			</div>
			<div class="row">
				<ol class="lower-roman">
					<li><span class="text-semi-bold-600">Examine error messages when programs crash</span>
						<p>
							The last line of Python Tracebacks will tell you what went wrong. 
							Reading backwards from there will tell you more about where the problem occurred.
						</p>
					</li>
					<li><span class="text-semi-bold-600">Work from example code</span>
						<p>
							If your modified code doesn't work, comment it out and do step-by-step modifications 
							to the example code until it does what you want.
						</p>
					</li>
					<li><span class="text-semi-bold-600">Make sure examples work</span>
						<p>
							Just because you find example code doesn't mean it will work in your system. 
							Check the example code you're using to make sure it behaves the way you expect.
						</p>
					</li>
					<li><span class="text-semi-bold-600">Check (print) intermediate results</span>
						<p>
							When your code doesn't crash, but doesn't behave as expected, 
							add print statements to your program to see where in the code things stop behaving correctly.
						</p>
					</li>
					<li><span class="text-semi-bold-600">Keep and compare old versions</span>
						<p>
							When you have a working version of your code, save it before you add to the code. 
							This will give you something to go back to if you introduce too many new bugs.
						</p>
					</li>
				</ol>
			</div>
		</div>
	</body>
</html>