<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Resources</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="css/style.css">
		<!-- Self defined CSS-->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,700,600' rel='stylesheet' type='text/css'>
		<!-- Google Fonts-->
	</head>
	<body>
		<div class="container">
			<div class="row banner">
				<h2>HTML and CSS</h2>
			</div>
			<div class="row">
				<h4>HTML and CSS</h4>
			</div>
			<div class="row">
				<ul class="disc">
					<li><a href="http://www.w3schools.com/">
						w3schools.com
					</a></li>
					<li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool">
						Color Picker Tool
					</a></li>
					<li><a href="https://www.google.com/fonts">
						Google Fonts
					</a></li>
					<li><a href="http://getbootstrap.com/">
						Bootstrap
					</a></li>
					<li><a href="https://validator.w3.org/#validate_by_input">
						Markup Validation Service
					</a></li>
					<li><a href="http://jigsaw.w3.org/css-validator/#validate_by_input">
						CSS Validation Service
					</a></li>
					<li><a href="https://developer.mozilla.org/en-US/">
						MDN(Mozilla Developer Network)
					</a></li>
					<li><a href="http://learn-2-code.appspot.com/">
						Andy Brown's IPND Notes
					</a></li>
					<li><a href="http://www.freeformatter.com/html-escape.html">
						HTML Escape Tool
					</a></li>
				</ul>
			</div>
			<div class="row banner">
				<h2>Python</h2>
			</div>
			<div class="row">
				<h4>
				How elements within elements creates a structured 'box-like' model of a web page.
				</h4>
			</div>
			<div class="row">
				<ul class="disc">
					<li><a href="http://www.tutorialspoint.com/codingground.htm">
						Free Online IDE and Terminal
					</a></li>
					<li><a href="http://www.tutorialspoint.com//python/index.htm">
						Python Tutorial
					</a></li>
					<li><a href="https://www.python.org/dev/peps/pep-0008/">
						Style Guide for Python Code
					</a></li>
					<li><a href="http://pep8online.com/">
						Online PEP8 checker
					</a></li>
				</ul>
			</div>
			<div class="row banner">
				<h2>Google Web Engine and Datastore</h2>
			</div>
			<div class="row">
				<h4>
				Additional resources and documents of Google Web Engine and Datastore
				</h4>
			</div>
			<div class="row">
				<ul class="disc">
					<li><a href="https://cloud.google.com/appengine/downloads#Google_App_Engine_SDK_for_Python">
						Google App Engine SDK for Python
					</a></li>
					<li><a href="https://cloud.google.com/appengine/docs/python/gettingstartedpython27/usingdatastore">
						Using Datastore
					</a></li>
					<li><a href="https://cloud.google.com/appengine/docs/python/gettingstartedpython27/templates">
						Using Template
					</a></li>
					<li><a href="http://jinja.pocoo.org/">
						JinJa
					</a></li>
					<li><a href="https://cloud.google.com/appengine/docs/python/gettingstartedpython27/staticfiles">
						Using Static Files
					<li><a href="http://regexone.com/">
						Learn Regular Expressions
					</a></li>
					<li><a href="https://cloud-playground.appspot.com/playground/">
						Cloud Playground
					</a></li>
				</ul>
			</div>
			<div class="row banner">
				<h2>JavaScript and JSON(JavaScript Object Notation)</h2>
			</div>
			<div class="row">
				<h4>
				Additional resources and documents of JavaScript and JSON
				</h4>
			</div>
			<div class="row">
				<ul class="disc">
					<li><a href="http://json.org/">
						Introducing JSON
					</a></li>
					<li><a href="http://jsonlint.com/">
						The JSON Validator
					</a></li>
					<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON">
						JavaScript Object Notation
					</a></li>
					<li><a href="http://www.copterlabs.com/json-what-it-is-how-it-works-how-to-use-it/">
						JSON: What It Is, How It Works, & How to Use It
					</a></li>
				</ul>
			</div>
			<div class="row banner">
				<h2>Others</h2>
			</div>
			<div class="row">
				<h4>
				Other useful resources such as text editor, code style, webcasts, etc
				</h4>
			</div>
			<div class="row">
				<ul class="disc">
					<li><a href="http://codepen.io/">
						CodePen
					</a></li>
					<li><a href="http://scratchpad.io/">
						Scratchpad
					</a></li>
					<li><a href="http://www.sublimetext.com/">
						Sublime Text
					</a></li>
					<li><a href="http://udacity.github.io/frontend-nanodegree-styleguide/">
						Udacity Frontend Nanodegree Style Guide
					</a></li>
					<li><a href="https://docs.google.com/document/d/1W-GV7Y0TNIPLox1UJDgFxvioq6Y0dYitQ-1_SIJsw0A/pub?embedded=true">
						Student Handbook and Syllabus
					</a></li>
					<li><a href="https://github.com/udacity/ipnd-webcasts">
						Intro to Programming Nanodegree Webcasts
					</a></li>
					<li><a href="https://github.com/">
						Github
					</a></li>
					<li><a href="https://www.udacity.com/wiki/ud775/command-line-instructions#!#windows-users">
						How to Use Git and GitHub<br>
						---Command Line Instructions
					</a></li>
					<li><a href="http://programmers.stackexchange.com/questions/69788/what-is-the-history-of-the-use-of-foo-and-bar-in-source-code-examples">
						“foo” and “bar”
					</a></li>
				</ul>
			</div>
			<br>
			<br>
		</div>
	</body>
</html>